<form method="post" action="{{ path('app_exposition_delete', {'id': exposition.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer l'exposition?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exposition.id) }}">
    <button class="btn">Supprimer</button>
</form>
